<% content_for :javascripts do %>
  <%= javascript_include_tag "jquery-ui-1.8.21.custom.min.js" %>
  <%= javascript_include_tag "drag-cadets.js" %>
<% end %>

<div >
<h1>Listing platoons</h1>

<% count = -1 %>
<% @platoons.each do |platoon| %>
  <% count += 1 %>
  <% if count % 4 == 0 %>
    <div class="container_12">
  <% end %>
  <div id="platoonbox_<%= platoon.id %>" class="platoon grid_3 <%= {0 => 'alpha', 3 => 'omega'}[count % 4] %>" >
    <div>
      <%=h platoon.name %>: barracks <%=h platoon.barracks %>
    </div>
    <div>
      <ul class="cadetlist" id="platoon_<%= platoon.id %>">
      <% platoon.cadets.each do |cadet| %>
        <li class="ui-content-widget cadet" id="cadet_<%= cadet.id %>"><%=h cadet.name %></li>
      <% end %>
    </div>
  </div>
  <% if count % 4 == 3 %>
    </div>
    <br />
  <% end %>
<% end %>
<% if count  % 4 != 3 %>
  </div>
<% end %>

<br />

<%= link_to 'New platoon', new_platoon_path %>
</div>
