<p>
  <b>Platoon:</b>
  <%=h @cadet.platoon_id %>
</p>

<p>
  <b>Student id number:</b>
  <%=h @cadet.student_id_number %>
</p>

<p>
  <b>Birthdatetime:</b>
  <%=h @cadet.birthdatetime %>
</p>

<p>
  <b>Rank:</b>
  <%=h @cadet.rank %>
</p>

<p>
  <b>Birthlocation:</b>
  <%=h @cadet.birthlocation %>
</p>

<p>
  <b>Name:</b>
  <%=h @cadet.name %>
</p>

<p>
  <b>Bunk:</b>
  <%=h @cadet.bunk %>
</p>

<p>
  <b>Height:</b>
  <%=h @cadet.height %>
</p>

<p>
  <b>Weight:</b>
  <%=h @cadet.weight %>
</p>


<%= link_to 'Edit', edit_cadet_path(@cadet) %> |
<%= link_to 'Back', cadets_path %>